body {
  background: #222;
  overflow: hidden;
}

body.kick canvas {
  -webkit-animation: bop 100ms ease-out;
          animation: bop 100ms ease-out;
}

body.snare {
  -webkit-animation: color 100ms ease-out;
          animation: color 100ms ease-out;
}

body.hat section {
  -webkit-animation: highlight 100ms ease-out;
          animation: highlight 100ms ease-out;
}

@-webkit-keyframes bop {
  from {
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
  }
  to {
    -webkit-transform: translateX(-50%) translateY(1%);
            transform: translateX(-50%) translateY(1%);
  }
}

@keyframes bop {
  from {
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
  }
  to {
    -webkit-transform: translateX(-50%) translateY(1%);
            transform: translateX(-50%) translateY(1%);
  }
}
@-webkit-keyframes color {
  from {
    background: #222;
  }
  to {
    background: #292929;
  }
}
@keyframes color {
  from {
    background: #222;
  }
  to {
    background: #292929;
  }
}
@-webkit-keyframes highlight {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(13, 13, 13, 0.5);
  }
}
@keyframes highlight {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(13, 13, 13, 0.5);
  }
}
main {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

canvas {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

h1 {
  margin: 4rem 0 0;
  text-align: center;
  color: #444;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #666;
  letter-spacing: 0.125em;
}
h1 button {
  border: none;
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: transparent;
  border: 4px solid #999;
  color: #999;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}
h1 button .pause {
  display: none;
}
h1 button:hover {
  color: #bbb;
  background: rgba(0, 0, 0, 0.5);
  border-color: #000;
}
h1 button:focus {
  box-shadow: 0px 0px 0px 4px #333;
}
h1 button.active .play {
  display: none;
}
h1 button.active .pause {
  display: block;
}

section {
  width: 1000px;
  max-width: 95%;
  box-sizing: border-box;
  padding: 2rem 2rem;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 200px;
}
section > div div {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0.25rem;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  height: calc(200px - 2rem);
  background-color: #fff;
  border-top: 2px solid #ddd;
  border-bottom: 8px solid #ddd;
  border-left: 2px solid #ddd;
  font-size: 0.5rem;
  color: #ccc;
  border-radius: 0px 0px 4px 4px;
  margin: 0px 1px;
  -webkit-transition: border-bottom-width 100ms ease-in-out, background-color 100ms ease-in-out;
  transition: border-bottom-width 100ms ease-in-out, background-color 100ms ease-in-out;
}
section > div div[id*="b"] {
  background: #222;
}
section > div div[id*="b"], section > div div[id*="b"]:last-child {
  border-color: #000;
}
section > div div:last-child {
  border-right: 2px solid #f0f0f0;
}
section > div div::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.8rem);
  border-bottom: 8px solid transparent;
  -webkit-transition: border-bottom-color 100ms ease-in-out;
  transition: border-bottom-color 100ms ease-in-out;
  border-radius: 4px 4px;
  width: 100%;
  left: 0;
}
section > div div span {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  color: #666;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section > div div span sup {
  font-size: 0.8em;
  margin-left: -0.25em;
  margin-right: -0.2em;
  display: inline-block;
}

div.active {
  background-color: #f9f9f9;
  border-bottom-width: 2px;
}
div.active span {
  color: #eee;
}
div.active[id*="b"] {
  background-color: #191919;
}
div.active::after {
  border-bottom-color: #eee;
}